/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="tel"],
.registration-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form .phone-input {
    display: flex;
    align-items: center;
}

.registration-form .phone-input span {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.registration-form .phone-input input {
    width: 100%;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.registration-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.registration-form input[type="submit"]:hover {
    background-color: #218838;
}
